:root {
    --brand: #90e0ef;
}

/* Header begin */
.title-header {
    justify-content: center;
    align-items: center;
}

.header-menu {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: white;
    border-bottom: solid 1px #e6e6e6;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .space-x-cus > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1rem /* 16px */ * var(--tw-space-x-reverse));
        margin-left: calc(
            1rem /* 16px */ * calc(1 - var(--tw-space-x-reverse))
        );
    }

    ul,
    li {
        align-items: center;
    }

    #search-input {
        width: 140px;
        font-size: small;
        height: 32px;
        border-radius: 5px;
        border-end-end-radius: 0;
        border-start-end-radius: 0;
        border-top: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-right: 0;
        background-color: white;
    }

    a {
        color: black !important;
    }

    .number-alert {
        font-size: 9px;
        position: relative;
        top: -7px;
        left: -7px;
        padding: 1px 4px;
        border-radius: 5px;
        color: white;
        background-color: rgb(201, 100, 100);
    }

    .fa-magnifying-glass {
        background: #90e0ef;
        height: 32px;
        padding: 0px 8px;
        border-start-end-radius: 5px;
        border-end-end-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .header-menu {
        padding-left: 60px !important;

        #search-input {
            width: 400px;
        }
    }
}
/* Header end */

/* Body */
.body-container {
    width: 100vw;
    position: relative;
    top: 70px;
    height: max-content;
    display: flex;
    overflow: hidden !important;
}
/* Body end */

/* Sidebar begin */
.sidebar {
    width: 100px;
    height: 180vh;
    background: var(--brand);
}

.label-item {
    display: none;
}

.menu-item {
    .label-item,
    i {
        color: black !important;
    }

    color: black !important;
    font-size: 18px !important;
    font-weight: 400;
    text-align: left !important;
    margin-left: 25px !important;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .sidebar {
        width: 230px;
        height: 110vh;
    }

    .menu-item {
        margin-left: 12px !important;
    }

    .label-item {
        display: inline !important;
    }
}

@media screen and (min-width: 1024px) {
    .sidebar {
        width: 230px;
    }

    .menu-item {
        margin-left: 30px !important;
    }

    .label-item {
        display: inline !important;
    }
}
/* Sidebar end */

/* Content begin */
.content-container {
    width: 100% !important;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    overflow: auto !important;
}

.table-container {
    width: 90% !important;
    height: fit-content;
    padding: 0px 30px;
    padding-bottom: 50px !important;
    overflow: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px !important;

    select,
    table,
    input {
        border-radius: 10px !important;
        border: 1px solid lightgray;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    }

    table {
        margin-bottom: 10px;
    }

    input {
        margin-bottom: 20px;
        height: 35px;
    }

    label {
        margin-top: 30px;
    }

    .dataTables_length {
        display: none;
    }

    .add-btn {
        margin-top: 20px;
        margin-bottom: 40px !important;
        padding: 10px 10px;
        border-radius: 5px;
        background-color: #90e0ef;
        color: black;
        border: 1px solid lightgray;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }

    .dataTables_paginate {
        a {
            margin: 10px 10px;
        }
    }

    .form-control:focus {
        border-color: #90e0ef;
        box-shadow: 0 0 0 0.25rem rgba(254, 215, 0, 0.25);
    }

    .btn-primary {
        background-color: #90e0ef;
        border-color: #90e0ef;
        color: #000;
    }

    .btn-primary:hover {
        background-color: #e6c200;
        border-color: #d9b900;
    }
}

@media screen and (min-width: 768px) {
    .table-container {
        padding: 0px 55px;
    }
}

.title-content {
    width: 100%;
    padding: 15px;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.counter-container {
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.counter {
    height: 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-weight: 500;

    i {
        font-size: xx-large !important;
    }
}

.form-container {
    width: 90% !important;
    height: fit-content;
    padding: 0px 30px;
    padding-bottom: 50px !important;
    overflow: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px !important;

    select,
    input {
        border-radius: 10px !important;
        border: 1px solid lightgray;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    }

    table {
        margin-bottom: 10px;
    }

    input,
    select {
        height: 35px;
    }

    label {
        margin-top: 10px;
    }

    .dataTables_length {
        display: none;
    }

    .add-btn {
        margin-top: 20px;
        margin-bottom: 40px !important;
        padding: 10px 10px;
        border-radius: 5px;
        background-color: #90e0ef;
        color: black;
        border: 1px solid lightgray;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }

    .form-control:focus {
        border-color: #90e0ef;
        box-shadow: 0 0 0 0.25rem rgba(254, 215, 0, 0.25);
    }

    .btn-primary {
        background-color: #90e0ef;
        border-color: #90e0ef;
        color: #000;
    }

    .btn-primary:hover {
        background-color: #e6c200;
        border-color: #d9b900;
    }
}

.delete-btn {
    margin-top: 10px;
    margin-bottom: 10px !important;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgb(227, 77, 77);
    color: white !important;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.edit-btn {
    margin-top: 10px;
    margin-bottom: 10px !important;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgb(43, 116, 242);
    color: white !important;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.detail-btn {
    margin: 0 7px;
    margin-top: 10px;
    margin-bottom: 10px !important;
    padding: 7px 7px;
    border-radius: 5px;
    background-color: #90e0ef;
    color: black;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: #fde661;
        color: black;
        padding: 10px 10px;
        margin: 0 2px;
        font-size: 18px;
    }
}

.success-btn {
    margin-top: 10px;
    margin-bottom: 10px !important;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgb(43, 204, 150);
    color: white !important;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#laptops-order-table {
    border: solid 1px lightgray;

    tr, td, th {
        border: solid 1px lightgray !important;
        padding: 10px;
    }

    img {
        width: 70px !important;
    }
}